/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
	/* colors */
	--color-alpha-light: MEDIUMSLATEBLUE;
	--color-alpha: SLATEBLUE;

	--color-white: #f3f3f3;
	--color-neutral-light: LIGHTSLATEGRAY;
	--color-neutral: SLATEGRAY;
	--color-neutral-dark: DARKSLATEGRAY;
	--color-black: #1d1d1d;

	/* Shadows */

	/* border radius */

	/* transitions */
	--transition-alpha: 0.1s;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
	font-size: 16px;
	line-height: 1.5;
	font-family: Helvetica, arial, sans-serif;
	color: var(--color-black);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: linear-gradient(221deg, rgba(30,156,215,1) 0%, rgba(0,92,153,1) 100%) rgb(30,156,215); */
	background: linear-gradient(157.57deg, #1a1763 2.34%, #9a479c 62.28%, #dd7373 88.63%);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
	background: var(--color-alpha);
	color: white;
	text-shadow: none;
}

::selection {
	background: var(--color-alpha);
	color: white;
	text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
	max-width: 100%;
	vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: 36px;
	line-height: 48px;
	margin: 0 0 24px;
}

h2 {
	font-size: 32px;
	line-height: 40px;
	margin: 0 0 24px;
}

h3 {
	font-size: 26px;
	line-height: 32px;
	margin: 0 0 24px;
}

h4,
h5,
h6 {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
	margin: 0 0 8px;
}

ul,
ol {
	padding-left: 24px;
}

li ul,
li ol {
	margin-bottom: 0;
}

blockquote {
	font-style: normal;
	font-size: 23px;
	line-height: 32px;
	margin: 0 0 24px;
}

blockquote * {
	font-size: inherit;
	line-height: inherit;
}

figcaption {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin-top: 8px;
}

hr {
	border: 0;
	height: 1px;
	background: LightGrey;
	margin: 0 0 24px;
}

a {
	transition: all var(--transition-alpha);
	color: var(--color-alpha);
	outline-color: var(--color-alpha);
	outline-width: medium;
	outline-offset: 2px;
}

a:visited,
a:active {
	color: var(--color-alpha);
}

a:hover,
a:focus {
	color: var(--color-alpha-light);
}

label,
input {
	display: block;
}

select {
	width: 100%;
}

input::placeholder {
	color: var(--color-neutral-light);
}

body {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
	position: relative;
	padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 79.5em; /* 79.5 * 16px = 1272 */
	width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
	list-style: none;
	padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
	justify-self: center;
	align-self: flex-end;
	padding: auto;
	padding-bottom: 16px;
	height: 5vh;
	max-width: 60vw;
}

@media (min-width: 1000px) {
	.c-logo {
		justify-self: center;
		align-self: flex-end;
		grid-row: 1;
		grid-column: 4;
		padding-bottom: 16px;
		height: 70%;
		max-width: 60vw;
	}
}

.c-logo__background {
	display: flex;
	justify-content: center;
	background-color: #005288;
	border-radius: 50px;
	height: 70px;
}

/*
    Component: Rocket
    ---
    Website main Rocket
*/

.c-rocketimg {
	grid-row: 6;
	grid-column: 2;
	justify-self: center;
	align-self: center;
	margin: 0;
}

.c-rocketimg-out {
	display: none;
	grid-row: 2;
	grid-column: 5;
	padding-left: 64px;
	justify-self: start;
	align-self: center;
	height: 100%;
	max-height: fit-content;
	margin: 0;
}

@media (min-width: 1000px) {
	.c-rocketimg-out {
		display: block;
		grid-row: 2;
		grid-column: 5;
		padding-left: 64px;
		justify-self: start;
		align-self: center;
		height: 100%;
		max-height: 100%;
		margin: 0;
	}
}

/*
    Component: Form
    ---
    Website main Form
*/

.c-overflow {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.c-loading {
	overflow: hidden;
	display: block;
	width: 100vw;
	height: 100vh;
}

.c-container-stars {
	display: flex;
	justify-content: center;
}

.js-stars {
	justify-self: center;
	transition-duration: 0.75s;
	transition-timing-function: ease-out;
	position: fixed;
	height: 100vh;
	z-index: -51;
}

.c-container {
	transition-duration: 0.75s;
	transition-timing-function: ease-out;
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
}

.c-content {
	min-width: 100vw;
	width: 100vw;
}

@media (min-width: 1000px) {
	.c-content {
		min-width: 100vw;
		flex-grow: 1;
		width: 100vw;
		display: grid;
		grid-template-columns: 40px 50px auto max-content auto 50px 40px;
		grid-template-rows: 10vh 85vh 5vh;
	}
}

.c-form {
	overflow: hidden;
	background-color: #f3f3f3;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
}

@media (min-width: 1000px) {
	.c-form {
		overflow: hidden;
		grid-row: 2;
		grid-column: 4;
		background-color: #f3f3f3;
		border-radius: 25px;
		height: 100%;
		width: 100%;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: flex-start;
	}
}

/*
    Component: Text
    ---
    Website main Text
*/

.c-timeline {
	color:slategray;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.c-timeline_text_past {
	padding: 8px;
	max-width: 100px;
	left:0
}

.c-timeline_text_next {
	padding: 8px;
	max-width: 100px;
	right: 5px;
}

.c-timeline-bar {
	display: flex;
	height: 10px;
	width: 100%;
	background: linear-gradient(221deg, rgba(30, 156, 215, 1) 0%, rgba(0, 92, 153, 1) 100%) rgb(30, 156, 215);
	margin: 0 0 32px;
}

.c-timeline_passed {
	background: linear-gradient(90deg, #1a1763 2.34%, #9a479c 62.28%);
	height: 100%;
	width: 40%;
}

.c-title {
	padding: 32px 16px 16px;
	text-align: center;
	font-size: 32px;
}

.c-countdown {
	padding: 0 16px 16px;
	color: var(--color-neutral);
	text-align: center;
	font-size: 40px;
	font-weight: 500;
}

.c-textarea {
	padding: 0 32px 64px;
	color: var(--color-neutral-dark);
	font-size: 22px;
	text-align: left;
}

.c-details {
	overflow: hidden;
	max-height: 30%;
	padding: 0 32px 32px;
	text-align: center;
	font-size: 18px;
	color: gray;
}

/*
    Component: Button
    ---
    Website main Button
*/

.c-button {
	border: none;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.16em;
	background-color: #005288;
	box-shadow: 0px 4px 16px rgba(0, 82, 136, 0.3);
	border-radius: 35px;
	padding: 1em 2em;
	width: 20vw;
	min-width: 101px;
	max-width: 190px;
}

.c-button-right {
	display: none;
	cursor: pointer;
	right: 10px;
	position: absolute;
	align-self: center;
	z-index: 5;
}

.c-button-left {
	display: none;
	cursor: pointer;
	left: 10px;
	position: absolute;
	align-self: center;
	z-index: 5;
}

@media (min-width: 1000px) {
	.c-button-right {
		display: block;
		cursor: pointer;
		right: 10px;
		position: absolute;
		align-self: center;
		z-index: 5;
	}

	.c-button-left {
		display: block;
		cursor: pointer;
		left: 10px;
		position: absolute;
		align-self: center;
		z-index: 5;
	}
}

.c-img_right {
	width: 50%;
}

.c-img_left {
	width: 50%;
}



/*
    Component: Background
    ---
    Website main Background
*/

.c-arch {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: -50;
}

.c-hidden {
	display: none;
}

/*
    Component: Landing page
    ---
    Website main Landing page
*/

.c-paragraph {
	max-width: 500px;
	margin-left: 64px;
	margin-right: 64px;
	margin-top: 32px;
}

.c-paragraph p {
	font-weight: 400;
	line-height: 1.5em;
}

.c-landing {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.c-landing header {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 25vh;
}

.c-landing main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
}

.c-landing main p {
	font-weight: 400;
	line-height: 1.5em;
	color: #ffffff;
	opacity: 0.8;
	letter-spacing: 0.06em;
}

.c-landing main p {
	font-size: 12px;
}

@media screen and (min-width: 320px) {
	.c-landing main p {
		font-size: calc(12px + 8 * ((100vw - 320px) / 880));
	}
}

@media screen and (min-width: 1200px) {
	.c-landing main p {
		font-size: 20px;
	}
}

.c-landing main #newsletter-signup {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
	height: 55px;
	max-width: 529px;
	min-width: 285px;
}

.c-landing main #newsletter-signup input {
	border: none;
	background-color: #e6e6e6;
	box-shadow: 0px 4px 16px rgba(72, 23, 120, 0.3);
	border-radius: 35px;
	padding: 1em 2em;
	width: 17vw;
	max-width: 323px;
	min-width: 194px;
	margin-right: 1.5em;
}

.c-landing main #newsletter-signup input {
	font-size: 11px;
}

@media screen and (min-width: 320px) {
	.c-landing main #newsletter-signup input {
		font-size: calc(11px + 5 * ((100vw - 320px) / 880));
	}
}

@media screen and (min-width: 1200px) {
	.c-landing main #newsletter-signup input {
		font-size: 16px;
	}
}

.c-landing main #newsletter-signup button {
	border: none;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.16em;
	background-color: #005288;
	box-shadow: 0px 4px 16px rgba(0, 82, 136, 0.3);
	border-radius: 35px;
	padding: 1em 2em;
	width: 20vw;
	min-width: 101px;
	max-width: 190px;
}

.c-landing main #newsletter-signup button {
	font-size: 11px;
}

@media screen and (min-width: 320px) {
	.c-landing main #newsletter-signup button {
		font-size: calc(11px + 5 * ((100vw - 320px) / 880));
	}
}

@media screen and (min-width: 1200px) {
	.c-landing main #newsletter-signup button {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	.c-landing main #newsletter-signup {
		width: 100vw;
		max-width: 360px;
		height: 36px;
	}

	.logo-background {
		height: 50px;
	}

	.c-landing main #newsletter-signup input {
		border-radius: 35px 0 0 35px;
		padding: 0.8em 1.5em;
		margin-right: 0;
	}
	.c-landing main #newsletter-signup button {
		width: 55vw;
		min-width: 101px;
		max-width: 125px;
		border-radius: 0 35px 35px 0;
		padding: 0.8em;
	}
}

@media screen and (max-width: 375px) {
	.c-landing main #newsletter-signup input {
		min-width: 155px;
		margin-left: 2em;
	}
	.c-landing main #newsletter-signup button {
		min-width: 94px;
		margin-right: 2em;
	}
}

/*
    Component: loading page
    ---
    Website main loading page
*/

#rocket {
	height: 500px;
}

.artboard {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	width: 50vw;
	height: 50vh;
	margin: 0 auto;
	margin-top: 25vh;
	backface-visibility: none;
	/* background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.3) 0%, rgba(1, 34, 38, 0) 60%); */
	transform: rotate(-40deg) translateY(25%);
}

@media (min-width: 1000px) {
	.artboard {
		transform: rotate(-40deg);
	}
}

.rocket {
	z-index: 100;
	display: block;
}

.rocketimg {
}

.fire {
	z-index: -100;
	position: absolute;
	top: 495px;
	width: 40px;
	height: 40px;
	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	background-color: #ffa600;
	transform: rotate(135deg);
	animation: flicker infinite 1s alternate ease-in-out;
}

.fire:after {
	content: '';
	top: 10px;
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	background-color: #dafffe;
}

@keyframes flicker {
	0% {
		transform: rotate(135deg) scale(0.8);
		box-shadow: 0 0 17px 10px rgba(238, 204, 165, 0.5);
	}
	25% {
		box-shadow: 0 0 17px 5px rgba(238, 204, 165, 0.5);
	}
	50% {
		box-shadow: 0 0 17px 7px rgba(238, 204, 165, 0.5);
	}
	75% {
		box-shadow: 0 0 17px 5px rgba(238, 204, 165, 0.5);
	}
	100% {
		box-shadow: 0 0 17px 10px rgba(238, 204, 165, 0.5);
	}
}

.stars2 {
	transform: translatex(-5vw);
}

.shootingstar {
	position: absolute;
	width: 3px;
	height: 20px;
	border-radius: 50%;
	box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.15);
	background-color: #fff;
	z-index: -2;
	animation: shooting 10s infinite ease;
}

.shootingstar:nth-child(1) {
	left: 252px;
	top: 25px;
	animation-delay: calc(-400s / 1);
}

.shootingstar:nth-child(2) {
	left: 153px;
	top: 221px;
	animation-delay: calc(-400s / 2);
}

.shootingstar:nth-child(3) {
	left: 199px;
	top: 231px;
	animation-delay: calc(-400s / 3);
}

.shootingstar:nth-child(4) {
	left: 213px;
	top: 292px;
	animation-delay: calc(-400s / 4);
}

.shootingstar:nth-child(5) {
	left: 126px;
	top: 84px;
	animation-delay: calc(-400s / 5);
}

.shootingstar:nth-child(6) {
	left: 81px;
	top: 124px;
	animation-delay: calc(-400s / 6);
}

.shootingstar:nth-child(7) {
	left: 54px;
	top: 106px;
	animation-delay: calc(-400s / 7);
}

.shootingstar:nth-child(8) {
	left: 94px;
	top: 261px;
	animation-delay: calc(-400s / 8);
}

.shootingstar:nth-child(9) {
	left: 106px;
	top: 144px;
	animation-delay: calc(-400s / 9);
}

.shootingstar:nth-child(10) {
	left: 64px;
	top: 202px;
	animation-delay: calc(-400s / 10);
}

.shootingstar:nth-child(11) {
	left: 29px;
	top: 113px;
	animation-delay: calc(-400s / 11);
}

.shootingstar:nth-child(12) {
	left: 208px;
	top: 171px;
	animation-delay: calc(-400s / 12);
}

.shootingstar:nth-child(13) {
	left: 240px;
	top: 124px;
	animation-delay: calc(-400s / 13);
}

.shootingstar:nth-child(14) {
	left: 287px;
	top: 29px;
	animation-delay: calc(-400s / 14);
}

.shootingstar:nth-child(15) {
	left: 288px;
	top: 261px;
	animation-delay: calc(-400s / 15);
}

.shootingstar:nth-child(16) {
	left: 190px;
	top: 195px;
	animation-delay: calc(-400s / 16);
}

.shootingstar:nth-child(17) {
	left: 106px;
	top: 210px;
	animation-delay: calc(-400s / 17);
}

.shootingstar:nth-child(18) {
	left: 100px;
	top: 80px;
	animation-delay: calc(-400s / 18);
}

.shootingstar:nth-child(19) {
	left: 9px;
	top: 273px;
	animation-delay: calc(-400s / 19);
}

.shootingstar:nth-child(20) {
	left: 99px;
	top: 235px;
	animation-delay: calc(-400s / 20);
}

.shootingstar:nth-child(21) {
	left: 24px;
	top: 189px;
	animation-delay: calc(-400s / 21);
}

.shootingstar:nth-child(22) {
	left: 253px;
	top: 190px;
	animation-delay: calc(-400s / 22);
}

.shootingstar:nth-child(23) {
	left: 26px;
	top: 253px;
	animation-delay: calc(-400s / 23);
}

.shootingstar:nth-child(24) {
	left: 275px;
	top: 159px;
	animation-delay: calc(-400s / 24);
}

.shootingstar:nth-child(25) {
	left: 84px;
	top: 22px;
	animation-delay: calc(-400s / 25);
}

.shootingstar:nth-child(26) {
	left: 71px;
	top: 116px;
	animation-delay: calc(-400s / 26);
}

.shootingstar:nth-child(27) {
	left: 234px;
	top: 35px;
	animation-delay: calc(-400s / 27);
}

.shootingstar:nth-child(28) {
	left: 266px;
	top: 17px;
	animation-delay: calc(-400s / 28);
}

.shootingstar:nth-child(29) {
	left: 166px;
	top: 31px;
	animation-delay: calc(-400s / 29);
}

.shootingstar:nth-child(30) {
	left: 11px;
	top: 60px;
	animation-delay: calc(-400s / 30);
}

@keyframes shooting {
	0% {
		opacity: 0;
		transform: translateY(-300px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(600px);
	}
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
	color: var(--color-neutral);
}

.u-color-neutral-dark {
	color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
	padding-top: 0 !important;
}

.u-mb-clear {
	margin-bottom: 0 !important;
}

.u-mb-xs {
	margin-bottom: 4px !important;
}

.u-mb-sm {
	margin-bottom: 8px !important;
}

.u-mb-md {
	margin-bottom: 16px !important;
}

.u-mb-lg {
	margin-bottom: 32px !important;
}

.u-mb-xl {
	margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
	max-width: 27em !important;
}

.u-max-width-sm {
	max-width: 39em !important;
}

.u-max-width-md {
	max-width: 50em !important;
}

.u-max-width-lg {
	max-width: 63.5em !important;
}

.u-max-width-none {
	max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
	text-align: center;
}

.u-align-center {
	margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
	font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/
